@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

:root {
  --primary-green: #318159;
  --primary-green-dark: #235c40;
  --primary-green-light: #c8ead9;
}

* {
  color: var(--primary-green-light);
  font-family: "Nunito", "Poppins", sans-serif;
}
*::selection {
  color: var(--primary-green-dark);
  background: var(--primary-green-light);
}
body {
  height: 100vh;
  background: var(--primary-green-dark);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.form-group {
  padding: 0.5em;
  margin-top: 0.5em;
}
.btn {
  width: 100%;
  margin-top: 0.75em;
}
#warning {
  text-align: center;
  width: 100%;
  color: coral;
  margin-top: 0.3em;
  padding: 0.5em;
}

.navbar {
  background: var(--primary-green-dark);
  position: relative;
  top: 0;
  width: 100%;
  z-index: 1;
  transition: 0.5s;
}

.brand-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.brand-flex h3 {
  margin-left: 1em;
}
.nav-link,
.nav-brand {
  color: var(--primary-green-light);
  cursor: pointer;
}
.nav-link {
  margin: 0 0.5em !important;
  transition: all 0.2s;
  text-transform: uppercase;
}
.nav-link:hover {
  color: var(--primary-green-light);
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.nav-item {
  transition: 0.2s;
  margin: 0 0.75em;
  border-radius: 50px;
}

.navbar-collapse {
  justify-content: flex-end;
}
.greeting {
  margin: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* ################################################## */
/* ################### Admin Dashboard ############## */
/* ################################################## */
@media (min-width: 1080px) {
  .nav-item:hover {
    border-radius: 12px;
    background: #235c40;
    box-shadow: 8px 8px 16px #183f2c, -8px -8px 16px #2e7954;
  }
  .active {
    border-radius: 50px;
    color: #fff;
    font-weight: bold;

    /* box-shadow: 8px 8px 16px #424363, -8px -8px 16px #e8efff; */
  }
  .main {
    margin-top: 10em;
    width: 35vw;
    padding: 2em;
  }
  .container {
    height: 60vh;
    flex-direction: row;
  }
  .main-content {
    margin-top: 5em;
    width: 75vw;
    height: 80vh;
    max-height: 70vh;
    max-width: 75vw;
    overflow: auto;
    /* box-shadow: 20px 20px 16px #9d9d9d, -20px -20px 16px #ffffff; */
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .img-btn-area {
    width: 100%;
    height: 100%;
    display: flex;
    background: linear-gradient(
      150deg,
      rgba(49, 129, 89, 0.25) 15%,
      rgba(35, 92, 64, 0.25) 85%
    );
    background-position: center;
    background-size: cover;
    border-radius: 1em;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
  }
  .img-btn-area:hover {
    box-shadow: 20px 20px 32px #0e261a, -20px -20px 32px #22583e;

    background-position: center;
    background-size: cover;
  }
  .main-content a {
    width: 25%;
    height: 25%;
    text-decoration: none;
    margin: 1em;
  }
  .btn-text {
    color: #ffffff;
  }
}

@media (max-width: 768px) {
  .nav-item {
    margin: 0.5em;
  }

  .active {
    background: #0094ff;
    color: black;
    font-weight: bolder;
  }
  .main {
    width: 90vw;
    padding: 3em 1em;
  }

  .container {
    margin-top: 5em;
    flex-direction: column;
  }
  .img-btn-area {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 1em;
    background: linear-gradient(180deg, #0094ff99 10%, #0094ff99 89%),
      url("../my_images/wheat-bg.jpg");
    background-position: center;
    background-size: cover;
    background-position: center;
    background-size: cover;
    border-radius: 1em;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
  }
  .main-content a {
    width: 80vw;
    height: 10vh;
    text-decoration: none;
    margin: 1em;
  }
}
.btn-text {
  text-align: center;
  color: #fff;
  font-size: large;
  font-weight: bold;
  letter-spacing: 0.2em;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main h1 {
  text-align: center;
  color: #ccc;
}
.main {
  border-radius: 39px;
  background: var(--primary-green-dark);
  border-radius: 12px;
  /* background: #235c40; */
  box-shadow: 8px 8px 16px #183f2c, -8px -8px 16px #2e7954;
  border: var(--primary-green-dark) 7px solid;

  color: #4d4d4d;
}
.main label {
  color: #ccc;
  margin-bottom: 0.3em;
}

.container-crop {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  width: 50%;
}
.warning {
  width: 100%;
  margin: 0.25em;
  padding: 0.25em;
  background-color: #ff6600;
  color: whitesmoke;
}
.success {
  width: 100%;
  margin: 0.25em;
  padding: 0.25em;
  background-color: #66cc66;
  color: whitesmoke;
}
