@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
:root {
  --colorPrimary: #73a5a5;
  --green-gradient: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.7010154403558299) 0%,
    rgba(70, 186, 38, 1) 50%,
    rgba(255, 255, 255, 0.7010154403558299) 100%
  );
  --gradient-transparent: linear-gradient(180deg, #a9c9ffcc 0%, #ffbbeccc 100%);

  --primaryBG: #c1d7d7;
  --primaryVarient: #c1d7d7cc;
  --primary-dark: #3c5d5d;
  --primaryGold: #a5a573;
  --yellow: #fffb7d;
  --lightWhite: #f2f2f2;
  --blueDark: #2c3b62;
}

body {
  /* background-color: #8bc6ec; */
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  scroll-behavior: smooth;
}
* {
  font-family: "Nunito", "Poppins", sans-serif;
}
*::selection {
  color: tomato;
  background-color: #00000000;
}

/* Header */
.navbar {
  position: relative;
  top: 0;
  width: 100%;
  background-color: #9599e2;
  /* background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%); */

  /* background-image: linear-gradient(90deg, #85ffbd 0%, #fffb7d 70%); */
  z-index: 1;
  transition: 0.5s;
}
.brand-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.brand-flex h3 {
  margin-left: 1em;
}
.nav-link,
.nav-brand {
  color: var(--lightWhite);
  cursor: pointer;
}
.nav-link {
  margin: 0 0.5em !important;
  transition: all 0.5s;
}
.nav-link:hover {
  color: var(--lightWhite);
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.nav-item {
  transition: 0.5s all;
  background-color: #9599e2;
  margin: 0 0.75em;
  border-radius: 50px;
}
.nav-item:hover {
  border-radius: 27px;
  background: linear-gradient(145deg, #9fa4f2, #868acb);
  box-shadow: 8px 8px 16px #424363, -8px -8px 16px #e8efff;
}
.active {
  border-radius: 50px;
  background: linear-gradient(145deg, #9fa4f2, #868acb);
  /* box-shadow: 8px 8px 16px #424363, -8px -8px 16px #e8efff; */
}
.navbar-collapse {
  justify-content: flex-end;
}

/* Banner */

.header {
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 2;
}
/* .overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  top: 0;
  left: 0;
  background: #c1d7d744;
} */
.row {
  width: 100vw;
}
.description {
  margin-top: 5vh;
  text-align: center;
}
.description h1 {
  color: var(--primary-dark);
  letter-spacing: 0.2em;
}
.description p {
  color: #2c3b62;
  font-size: 1.5em;
  line-height: 1.5;
}

/* Features */
.features {
  margin-top: 2em;
  padding: 1em;
}
.features h1 {
  margin: 1em;
  color: var(--blueDark);
}
.feature-title {
  color: var(--blueDark);
  font-size: 1.3em;
  font-weight: 600;
  text-transform: uppercase;
}

.neo-card {
  justify-content: center;
  align-items: center;
  margin: 1em 0;
  border-radius: 50px;
  cursor: pointer;

  transition: 0.5s;
  padding: 2em 1em;
}
.neo-card p {
  color: var(--primary-dark);
}
.neo-card:hover {
  border-radius: 27px;
  /* background: linear-gradient(145deg, #9fa4f2, #868acb); */
  box-shadow: 8px 8px 16px #424363, -8px -8px 16px #e8efff;
}

input {
  transition: 0.5s all;
}
@media (max-width: 768px) {
  .nav-item {
    transition: 0.5s all;
    background-color: #9599e2;
    margin: 12px 0.75em;
    text-align: center;
  }
  .active {
    border-radius: 0;
    box-shadow: 0 0 0 0;
  }
  .nav-item:hover {
    border-radius: 0;
    box-shadow: 0 0 0 0;
  }

  /* 
  .card {
    width: 80vw;
    margin: 0;
  } */
  .item-flex {
    width: auto;
  }
  .container-flex {
    margin: auto;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 50vw;
  }

  .item-flex {
    margin: 1em;
    width: 30%;
    height: 50%;
  }
  .container-flex {
    margin: 4em 2em;
  }
}

/* Crop Recommendation Page */
.card {
  /* background: linear-gradient(270deg, #9ebd13 0%, #008552 100%); */

  background: #669999;
  margin: 3em 1em;
  color: #fdfdfd;
}
.container {
  align-items: center;
  justify-content: center;
}
.form-group {
  margin: 1.5em 0;
  text-align: left;
}
.card-header {
  /* background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%); */
  background: #3d5c5c;
}
.card-footer {
  /* background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%); */
  background: #3d5c5c;
}
.form-control {
  background: #d1e0e0;
  color: #486a6a;
}
.form-control:focus {
  background: #486a6a;
  color: #d1e0e0;
}
a {
  text-decoration: none;
  color: var(--primary-dark);
}
a:hover {
  color: var(--primary-dark);
}
.container-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
}
.item-flex {
  text-align: center;
  align-items: center;
  justify-content: center;
}
