@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
:root {
  --white: #ffffff;
  --transparent: #00000000;
  --half-white-green: #ecf8f2;
  --primary-green: #2d8659;
  --primary-green-light: #c8ead9;
  --primary-green-dark: #235c40;
}

body {
  background: var(--primary-green-light);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  scroll-behavior: smooth;
}
* {
  font-family: "Nunito", "Poppins", sans-serif;
}
*::selection {
  color: tomato;
  background-color: var(--transparent);
}

/* Header */
.navbar {
  position: relative;
  top: 0;
  width: 100%;
  background: var(--half-white-green);
  z-index: 1;
  transition: 0.5s;
}
.brand-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.brand-flex h3 {
  margin-left: 1em;
  color: var(--primary-green);
}
.nav-link,
.nav-brand {
  color: var(--primary-green);
  cursor: pointer;
}
.nav-link {
  margin: 0 0.5em !important;
  transition: all 0.5s;
  text-transform: uppercase;
}

.nav-item {
  transition: 0.5s all;
  margin: 0 0.75em;
}
.nav-item:hover {
  border-radius: 8px;
  background: linear-gradient(145deg, #fdffff, #d4dfda);
  box-shadow: 7px 7px 11px #a0a9a5, -7px -7px 11px #ffffff;
}
.active {
  font-weight: bolder;
  border-radius: 8px;
  background: #ecf8f2;
  box-shadow: 7px 7px 11px #a0a9a5, -7px -7px 11px #ffffff;
}
.navbar-collapse {
  justify-content: flex-end;
}

/* Banner */

.header {
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 2;
}

.description {
  margin-top: 5vh;
  text-align: center;
}
.description h1 {
  color: var(--primary-green);
  letter-spacing: 0.2em;
}
.description p {
  color: var(--primary-green);
  font-size: 1.5em;
  line-height: 1.5;
}

/* Features */
.features {
  padding: 1em;
}
.features h1 {
  margin-top: 1em;
  color: var(--primary-green);
}
.feature-title {
  color: var(--primary-green);
  font-size: 1.3em;
  font-weight: 600;
  text-transform: uppercase;
}

.neo-card {
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.5s;
  padding: 2em 1em;

  /* background: linear-gradient(145deg, #d6fae8, #b4d3c3); */
}
.neo-card p {
  color: var(--primary-green);
}
.neo-card:hover {
  background: #c8ead9;
  box-shadow: 9px 9px 18px #768a80, -9px -9px 18px #ffffff;
}

input {
  transition: 0.5s all;
}

/* #############|--------------- Mobile Screen ---------------|############# */
@media (max-width: 768px) {
  .nav-item {
    transition: 0.5s all;
    margin: 12px 0.75em;
    text-align: center;
  }
  .active {
    border-radius: 0;
    box-shadow: 0 0 0 0;
  }
  .nav-item:hover {
    border-radius: 0;
    box-shadow: 0 0 0 0;
  }

  .item-flex {
    width: 90vw;
    margin: 0.5em;
  }
  .container-flex {
    margin: auto;
  }
}

/* ############|--------- Larger Screens -----------|############## */
@media (min-width: 768px) {
  .container {
    max-width: 50vw;
  }

  .item-flex {
    margin: 1em;
    width: 30%;
  }
  .container-flex {
    margin: 4em 2em;
  }
  .neo-card {
    height: 100%;
  }
}

/* Crop Recommendation Page */
.card {
  background: var(--half-white-green);
  margin: 1em 0em;
  color: var(--primary-green-dark);
}
.container {
  align-items: center;
  justify-content: center;
  padding: 0;
}
.form-group {
  margin: 1.5em 0;
  text-align: left;
}
.card-header {
  /* background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%); */
  background: var(--primary-green-dark);
  color: var(--primary-green-light);
}
.card-footer {
  /* background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%); */
  background: var(--primary-green-dark);
  color: var(--primary-green-light);
}
.form-control {
  background: #d1e0e0;
  color: #486a6a;
}
.form-control:focus {
  background: var(--primary-green-light);
  color: var(--primary-green-dark);
}
a {
  text-decoration: none;
  color: var(--primary-dark);
}
a:hover {
  color: var(--primary-dark);
}
.container-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
}
.item-flex {
  text-align: center;
  align-items: center;
  justify-content: center;
}
