{% extends 'adminBase.html' %} {%block body %}
<div class="container">
  <div class="main" id="addAdminMain">
    <form method="POST" action="{{url_for('addAdmin')}} " id="addAdmin">
      <div class="form-group">
        <label for="fullName">Full Name</label>
        <input type="text" name="fullName" id="fullName" class="form-control" />
      </div>
      <div class="form-group">
        <label for="username">Useraname</label>
        <input type="text" name="username" id="username" class="form-control" />
      </div>
      <div class="form-group">
        <label for="emailid">Email ID</label>
        <input type="email" name="emailid" id="emailid" class="form-control" />
      </div>
      <button class="btn btn-success">Add Admin</button>
    </form>
    {% if warning %}
    <h2>{{warning}}</h2>
    {%endif%}
  </div>
</div>
<script>
  window.onload = function () {
    var nav_home = document.getElementById("nav-dashboard");
    var nav_admin = document.getElementById("nav-admin");
    var nav_crop = document.getElementById("nav-cropCenter");

    nav_home.classList.remove("active");
    nav_admin.classList.add("active");
    nav_crop.classList.remove("active");
  };
</script>
{%endblock%}
