{% extends 'adminBase.html'%} {% block body %}
<div class="container">
  <div class="main">
    <h1 class="title">Admin Login</h1>
    <form action="{{url_for('adminLogin')}}" method="post">
      <div class="form-group">
        <label for="adminUsername">Username</label>
        <input
          type="text"
          class="form-control"
          id="adminUsername"
          name="adminUsername"
        />
      </div>
      <div class="form-group">
        <label for="adminPassword">Password</label>
        <input
          type="password"
          class="form-control"
          id="adminPassword"
          name="adminPassword"
        />
      </div>
      <button class="btn btn-outline-success">Sign in</button>
    </form>
    <h5 id="warning">{{warning}}</h5>
  </div>
</div>
{%endblock%}
