{% extends 'base.html' %}
<!-- Content begin -->
{% block body %}

<header class="page-header header container-fluid">
  <div class="row">
    <div class="description">
      <h1>Crop Help</h1>
      <p>Get advice and recommendations on crops</p>
    </div>
  </div>
  <div class="row">
    <div class="features" id="features">
      <h1 class="text-center">Our Services</h1>
      <div class="container-flex">
        <div class="item-flex">
          <a href="{{url_for('crop_recommend')}}">
            <div class="neo-card">
              <h3 class="feature-title">Crop Recommendation</h3>
              <p>
                Get recommendations of suitable crop for your region and climate
              </p>
            </div>
          </a>
        </div>

        <div class="item-flex">
          <a href="{{url_for('diseaseDetectionPage')}}">
            <div class="neo-card">
              <h3 class="feature-title">Crop Disease Detection</h3>
              <p>Detect disease the crop is suffering from</p>
            </div>
          </a>
        </div>
        <div class="item-flex">
          <a href="{{url_for('cropInformationPage')}}">
            <div class="neo-card">
              <h3 class="feature-title">Crop Information</h3>
              <p>Get end to end information about cultivation of crops</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>

<script>
  window.onload = function () {
    var nav_home = document.getElementById("nav-home");
    var nav_disease = document.getElementById("nav-disease");
    var nav_crop = document.getElementById("nav-crop");

    nav_home.classList.add("active");
    nav_disease.classList.remove("active");
    nav_crop.classList.remove("active");
  };
</script>
<script src="{{url_for('static',filename='scripts/main.js')}}"></script>

{%endblock%}
